
<div class="main-content">

  <section class="iq-blogs">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="main-blog">
            <div class="blog-img">
              <img src="images/blog/01.jpg" class="img-fluid" alt="image">
            </div>
            <div class="blog-detail">
              <a class="main-color iq-fw-8" href="blog-details-left-sidebar.html">Design Concept</a>
              <a href="blog-details-left-sidebar.html">
                <h5 class="mt-1 iq-fw-8">Fully dedicated finding.</h5>
              </a>
              <p class="mb-0">Progravida nibh vel velit auctor alinean sollicitudin.</p>
              <div class="blog-info">
                <a href=""><img src="images/blog/clients/01.jpg" class="img-fluid rounded-circle mr-3 user-img" alt="image"><span class="iq-fw-8 font-c iq-font-18">Glen Jax</span></a>
                <ul class="d-inline-block float-right">
                  <li class="d-inline-block"><a href="javascript:void(0)"><i class="far fa-thumbs-up"></i> <span class="iq-fw-8 iq-font-14">90</span></a></li>
                  <li class="d-inline-block"><a href="javascript:void(0)"><i class="far fa-comment-alt"></i> <span class="iq-fw-8 iq-font-14">120</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>
